@charset "UTF-8";

.sectionSlide {
    @extend %bg-cover;
    position: relative;
    text-align: center;

    .sectionSlide-content {

        h2 {
            @extend %font-PT_Serif;
            font-size: 2.3em; /*2.5em 2.142857143em*/
        }
    }
}

section.sectionSlide {
    padding: 17.5em 0;
}
