@charset "UTF-8";

.sectionSlide {
    @extend %bg-cover;
    color: map-get($colors, "c_w");
    position: relative;
    text-align: center;

    .sectionSlide-content {

        h2 {
            @extend %font-PT_Serif;
            font-size: 2.5em; /*2.142857143em*/
        }
    }
}

section.sectionSlide {
    padding: 17.5em 0;
}
