@charset "UTF-8";

#clubProgram {
    background-color: map-get($colors, "bs");
    padding: 100px 0;

    .prgBlock {
        border: 1px solid map-get($colors, "c_w");
        padding: 2em; /*1.5em*/

        &-main {
            margin-right: -31px;
            margin-top: 6.3em;
            padding: 2.8em 2em; /*1.5em*/

            .title {
                margin-bottom: 3.5em;
            }

            .content {
                font-size: 1.6em;
            }
        }

        &-second {
            /*margin-top: 1.5em;*/
            /*border-left: 0px solid transparent;
            border-left: none;*/

            .title {
                background-color: #fff;
                margin: 0 -2em 20px;

                h3 {
                    color: map-get($colors, "bs");
                    margin: -1.2em 0 0;
                    padding: 1.2em 0;
                }
            }
        }

        .title {
            margin-top: 0;
        }

        .content {
            
            p {
                margin-left: 25px;
            }
        }

        h4 {
            font-weight: 700;
            margin-left: 25px;
        }

        hr {

        }

        ul {
            padding-left: 25px;

            &.lstn {
                list-style-type: none;
                
                li {
                    line-height: 1em;
                    position: relative;
                    padding-left: 40px;
                
                    img {

                        &.icon {
                            left: 0;
                            position: absolute;
                            width: 24px;
                        }
                    }
                    
                    .fa {
                        left: 0;
                        position: absolute;
                    }
                }
            }

            li {
                margin: 0.8em 0;
            }
        }

        .txt {
            font-size: 1.3em;
            line-height: 1em;
            margin-top: 3.5em; /*1.2em*/

            p {
                margin-left: 25px;
            }
        }
    }
}
