@charset "UTF-8";

#instrumentsResult {
    @extend %bg-cover;
    background-image: url('../img/instrumentsResult/bg_1.jpg');
    background-attachment: fixed;
    padding-bottom: 3.571428571em; /*50px*/
    position: relative;
    
    .title {
        
        h2 {
            
            @media only screen and (max-width: 767px) {
                font-size: 1.5em;
            }
            
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                font-size: 1.8em;
            }
            
            @media only screen and (min-width: 992px) and (max-width: 1199px) {
                font-size: 2.0em;
            }            
        }
    }
    
    .scheme {
        margin-bottom: 5em;
            
        @media only screen and (max-width: 479px) {
            margin-bottom: 1em;
        }

        @media only screen and (min-width: 480px) and (max-width: 767px) {
            margin-bottom: 2em;
        }

        @media only screen and (min-width: 768px) and (max-width: 991px) {
            margin-bottom: 3em;
        }

        @media only screen and (min-width: 992px) and (max-width: 1199px) {
            margin-bottom: 4em;
        }
        
        .r {
            border-left: 1px solid map-get($colors, "bpo");
            padding-bottom: 1em;
            padding-top: 1em;
            
            .c {
                border-top: 1px solid map-get($colors, "bpo");
            }
                
            .line {
                background-color: map-get($colors, "bpo");
                position: absolute;

                &-vertical {
                    height: 10px;
                    left: 50%;
                    top: 0;
                    width: 1px;
                }

                &-horizontal {
                    height: 1px;
                    left: 0;
                    top: 50%;
                    width: 15px;
                }
            }
            
            .wrapper {
                background-color: map-get($colors, "bso");
                border: 1px solid map-get($colors, "bpo");
                /*border-radius: 20px;*/
                height: 130px;
                margin: 10px auto;
                padding: 0.5em;
                vertical-align: middle;
                width: 90%;
                
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
                justify-content: center;
                /*text-align: center;*/
            }
            
            .main {

                &.c {
                    /*border-top: none;*/
                }
                
                .wrapper {
                    background-color: map-get($colors, "bpo");
                    border: none;
                    border-radius: 0;
                    height: 150px;
                    margin: 0 auto;
                    width: 100%;
                }
                
                &-super {
                    border-top: 1px solid map-get($colors, "bpo");
                    border: none;
                    
                    .wrapper {
                        border: 1px solid map-get($colors, "bp");
                        background-color: rgba(255,255,255, 0.6);
                        color: map-get($colors, "bp");
        
                        .human {
                            border-radius: 50%;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }

    .sectionSlide {

        &-content {
            background-color: map-get($colors, "bso");
            padding: 5em 0;
            text-align: center;
            
            @media only screen and (max-width: 479px) {
                padding: 1em 0;
            }

            @media only screen and (min-width: 480px) and (max-width: 767px) {
                padding: 2em 0;
            }

            @media only screen and (min-width: 768px) and (max-width: 991px) {
                padding: 3em 0;
            }

            @media only screen and (min-width: 992px) and (max-width: 1199px) {
                padding: 4em 0;
            }

            p {

            }

            .txt {
                font-size: $fz-text-second; /*1.5em*/
                /*margin-top: 2em;*/
            
                @media only screen and (max-width: 767px) {
                    font-size: 1.1em;
                }

                @media only screen and (min-width: 768px) and (max-width: 991px) {
                    font-size: 1.3em;
                }

                @media only screen and (min-width: 992px) and (max-width: 1199px) {
                    font-size: 1.5em;
                }

                p {
                    line-height: 1.2em;
                    margin: 1em 0;
                }
            }

            .btn {

                &-main {
                    /*color: #ffd700;*/ /*#daa520*/
                    /*font-size: 1.5em;*/
                    font-size: $fz-button;
                    /*margin-top: 2em;*/

                    @media only screen and (max-width: 400px) {
                        font-size: 0.95em;
                    }
                }
            }
        }
    }
}
