@charset "UTF-8";

#reasonsResult {
    @extend %bg-cover;
    background-image: url('../img/reasonsResult/bg_1.jpg');
    color: #fff;
    padding-bottom: 3.571428571em; /*50px*/
    position: relative;

    h3 {
        font-size: 1.714285714em;
    }

    .blackout {
        background-color: rgba(42,42,53,.8);
    }

    .title {

        h2 {
            /*color: rgb(91, 198, 198);*/
        }
    }

    .circulation {

        .col-reson-offset-bottom {

            .reson-offset {
                margin-left: auto !important;
                margin-right: -15px !important;
                width: calc(50% + 15px);
            }

            .arrow-block {
                bottom: auto;
                left: auto;
                right: -10px;
                top: 0;

                .arrow {
                    bottom: auto;
                    top: 4px;
                }
            }
        }

        .reson-xs-right {
            /*height: 163px;*/
            /*min-height: 50px;*/
        }
        /*.reson-xs-right*/
        .col-reson-offset-xs-right {

            .arrow-block {
                bottom: auto;
                left: auto;
                right: -10px;
                top: 0;

                .arrow {
                    bottom: auto;
                    top: 4px;
                }
            }
        }

        .arrow-block {
            height: 11px;
            overflow: hidden;
            position: absolute;
            left: -10px;
            right: auto;
            bottom: 0;
            width: 20px;

            .arrow {
                border: 1px solid #fff;
                bottom: 4px;
                height: 20px;
                position: absolute;
                transform: rotate(-45deg);
                width: 20px;
            }
        }

        .reson-offset-right {
            .arrow-block {
                left: auto;
                right: -10px;
            }
        }

        .col-reson-offset {

            &-top {
                padding: 0;

                .arrow-block {
                    left: -10px !important;
                    right: auto !important;
                }

                .reson-offset-top {
                    margin: 0;
                }
            }
        }

        .reson-arrow {

            &-left {

                .arrow-block {
                    height: 20px;
                    bottom: -10px;
                    left: 0px !important;
                    width: 11px;

                    .arrow {
                        bottom: 0;
                        left: 4px;
                    }
                }
            }

            &-top {

                .arrow-block {
                    left: -10px;
                    right: auto;

                    .arrow {

                    }
                }
            }
        }

        .col-reson-offset-xs-right {
            margin: 0 0px 0 -15px; /*fix*/
        }

        .reson {
            background-color: rgba(91, 198, 198, 0.5);
            border-radius: 100px;
            min-height: 11.642857143em;
            overflow: hidden;
            padding: 2.857142857em 1.428571429em; /*40px 20px*/
            position: relative;
            text-align: center;
            z-index: 99;

            h3 {
                margin-top: 0;
                /*text-align: center;*/
            }

            p {

            }

            ol {
                padding: 0 0 0 15px;
                list-style-position: inside;
                padding: 0 0 0 10px;
                text-align: left;

                li {

                }
            }

            &-main {
                bottom: -47px; /*-82px -40px*/
                min-height: 19.928571429em; /* 279px 326px*/
                position: relative;

                h3 {
                    /*text-align: center;*/
                }

                border-radius: 5px 30%;
                /*text-align: left;*/

                &-line {
                    position: relative;
                    z-index: 1;

                    &-diag {
                        background-color: #fff;
                        height: 1px;
                        position: absolute;
                        width: 70px;

                        &.reson-main-line-left {
                            left: -55px;
                        }

                        &.reson-main-line-right {
                            right: -55px;
                        }

                        &-top {
                            top: 150px;

                            &.reson-main-line-left {
                                /*transform: rotate(45deg);*/
                            }

                            &.reson-main-line-right {
                                /*transform: rotate(-45deg);*/
                            }
                        }

                        &-bottom {
                            bottom: -5px;

                            &.reson-main-line-left {
                                left: -45px;
                                transform: rotate(-32deg);
                            }

                            &.reson-main-line-right {
                                right: -45px;
                                transform: rotate(32deg);
                                width: 65px;
                            }
                        }
                    }

                    &-bottom {
                        bottom: -47px;
                        /*min-height: 123px !important;*/

                        @media (max-width:767px) {
                            bottom: 0;
                        }
                    }
                }
            }

            &-bottom {

                h3 {
                    /*text-align: center;*/
                }

                /*text-align: left;*/
            }

            &-offset {
                margin: 0 -15px;
                min-height: 8.285714286em; /* 116px*/
                position: relative;

                &-top {
                    border-top: 1px solid #fff;
                    /*border-radius: 50%;*/ /*Miky Mouse  $)*/

                    &.reson-offset-left {
                        border-top-left-radius: 100%; /*100%*/
                    }

                    &.reson-offset-right {
                        border-top-right-radius: 100%;
                    }
                }

                &-left, &-right {
                    width: calc(50% + 15px); /*50%*/
                    /*border-radius: 50%;*/ /* Miky Bear */
                }

                &-left {
                    border-left: 1px solid #fff;
                    /*float: right;*/
                    margin-left: auto;
                }

                &-right {
                    border-right: 1px solid #fff;
                    /*margin-right: auto;*/
                    /*float: left;*/
                }

                &-bottom {
                    border-bottom: 1px solid #fff;
                    width: calc(50% + 30px);

                    &.reson-offset-left {
                        border-bottom-left-radius: 100%; /*100%*/
                        margin-right: -30px;
                    }

                    &.reson-offset-right {
                        border-bottom-right-radius: 100%; /*200px*/
                        margin-left: -30px;
                    }
                }
            }
        }
    }

}
