<section id="clubProgram">
    <div class="container">
        <div class="row">

            <div class="col-sm-7">
                <div class="prgBlock prgBlock-main">
                    <div class="title">
                        <h2>Основная программа клуба:</h2>
                    </div>

                    <div class="content">
                        <ul class="lstn">
                            <li><i class="fa fa-asterisk" aria-hidden="true"></i> Встречи раз в неделю в уютной рабочей обстановке</li>
                            <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> Отчет о проделанной работе, сверка с целью</li>
                            <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i> План-кинжал на следующую неделю</li>
                            <li><i class="fa fa-thumb-tack" aria-hidden="true"></i> Мнения от людей-результата «как сработает»</li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Изложение своих гипотез и опыта</li>

                            <li><i class="fa fa-chevron-right" aria-hidden="true"></i> Изложение своих гипотез и опыта»</li>
                            <li><i class="fa fa-space-shuttle" aria-hidden="true"></i> Изложение своих гипотез и опыта»</li>
                            <li><i class="fa fa-fighter-jet" aria-hidden="true"></i> Изложение своих гипотез и опыта»</li>
                        </ul>

                        <div class="txt">
                            <p>Условия, в которых не возможно не делать.</p>
                            <p>Иначе, тебя не поймут.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="prgBlock prgBlock-second">
                    <div class="title">
                        <h3>Желающие, принимают участие:</h3>
                    </div>

                    <div class="content">
                        <h4>OpenMind</h4>

                        <ul>
                            <li>
                                Мастер-классы от экспертов в своих областях.
                            </li>
                            <li>
                                Выступления перед теми, кто ещё без результата, но очень хочет.
                            </li>
                            <li>
                                Дни пользы: общественные работы для города и его жителей, поездки в детские дома, посадка деревьев.
                            </li>
                        </ul>
                    </div>

                    <hr />

                    <div class="content">
                        <h4>Freeday</h4>

                        <ul>
                            <li>
                                Вечера без работы: беседы о новостях, жизни. На отвлеченные темы.
                            </li>
                            <li>
                                Игры: мафия, покер, бизнес-игры.
                            </li>
                            <li>
                                Активный отдых: велосипеды, картинг, волейбол.
                            </li>
                            <li>Поездки на природу: однодневные на пляж, палаточные туры по Беларуси, рыбалка (рыбалка, если поместиться).</li>
                            <li>Экстремальные дни: прыжки с парашюта, с вышек.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
