<section id="clubProgram">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-md-6 col-lg-7">
                <div class="prgBlock prgBlock-main">
                    <div class="title">
                        <h2>Основная программа клуба:</h2>
                    </div>

                    <div class="content">
                        <ul class="lstn">
                            <li><i class="fa fa-asterisk" aria-hidden="true"></i> Встречи раз в неделю в уютной рабочей обстановке</li>
                            <li><i class="fa fa-file-text-o " aria-hidden="true"></i> Отчет о проделанной работе, сверка с целью</li>
                            <li><img src="assets/img/clubProgram/dagger.png" class="icon" alt="кинжал" /> План-кинжал на следующую неделю</li>
                            <li><img src="assets/img/clubProgram/denomination.png" class="icon" alt="купюра" /> Мнения от людей-результата «как сработает»</li>
                            <li><i class="fa fa-graduation-cap" aria-hidden="true"></i> Изложение своих гипотез и опыта</li>
                        </ul>

                        <div class="txt">
                            <p>Условия, в которых не возможно не делать.</p>
                            <p>Иначе, тебя не поймут.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-5">
                <div class="prgBlock prgBlock-second">
                    <div class="title">
                        <h3>Желающие принимают участие:</h3>
                    </div>

                    <div class="content">
                        <h4>Командный бизнес</h4>

                        <div>
                            <p>Те участники клубов, кто помимо основного бизнеса открыты для новых проектов.</p>
                            <p>Формируется отдельная группа в дополнительный день. </p>
                            <p>Цель: создать новый бизнес.</p>
                            <p>Инструменты: распределяется работа, вложения, формируется команда, оформляется договор и участники начинают совместную кампанию.</p>
                        </div>
                    </div>

                    <hr />

                    <div class="content">
                        <h4>OpenMind</h4>

                        <ul>
                            <li>
                                Мастер-классы от экспертов в своих областях.
                            </li>
                            <li>
                                Выступления перед теми, кто ещё без результата, но очень хочет.
                            </li>
                            <li>
                                Дни пользы: общественные работы для города и его жителей, поездки в детские дома, посадка деревьев.
                            </li>
                        </ul>
                    </div>

                    <hr />

                    <div class="content">
                        <h4>Freeday</h4>

                        <ul>
                            <li>
                                Вечера без работы: беседы о новостях, жизни. На отвлеченные темы.
                            </li>
                            <li>
                                Игры: мафия, покер, бизнес-игры.
                            </li>
                            <li>
                                Активный отдых: велосипеды, картинг, волейбол.
                            </li>
                            <li>Поездки на природу: однодневные на пляж, палаточные туры по Беларуси, рыбалка.</li>
                            <li>Экстремальные дни: прыжки с парашютом, с вышек.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
