<section id="effect" class="sectionSlide">

    <div class="blackout"></div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="sectionSlide-content">
                    <h2>
                        Это продолжается неделями, месяцами, годами?
                        Работа ведется, но не чувствуешь роста в деньгах?
                        Во сколько раз вырос твой бизнес?
                    </h2>
                </div>
            </div>
        </div>
    </div>

</section>
