<section id="goose" class="sectionSlide">

    <div class="blackout"></div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="sectionSlide-content">
                    <h2>
                        Вроде CRM настроена, скрипты и гайды внедрены, поставщики адекватные, лиды есть, продажи есть, даже к помощнице не придраться. Но все равно чувствуешь себя Гусем.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
