<section id="provocation" class="sectionSlide">

    <div class="blackout"></div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="sectionSlide-content">
                    <h2>
                        В «Клуб-результат» на твоих глазах сидящий рядом покупает себе Mersedes-benz за 2 месяца. <br />
                        А что создашь/купишь/построишь ты?
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
