<section id="reasonsResult">

    <div class="blackout"></div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>
                        Причины результата в клубе:
                    </h2>
                </div>
            </div>
        </div>

        <div class="row circulation">

            <div class="col-xs-12">

                <div class="row">
                    <div class="col-xs-4 col-xs-offset-3 col-sm-4 col-sm-offset-0 hidden-xs">
                        <div class="reson-offset reson-offset-top reson-offset-left"></div>
                    </div>
                    <div class="col-xs-1 col-sm-4 col-reson-offset-top hidden-xs">
                        <div class="reson-offset reson-offset-top"></div>
                    </div>
                    <div class="col-xs-4 col-sm-4 hidden-xs">
                        <div class="reson-offset reson-offset-top reson-offset-right">
                            <div class="arrow-block">
                                <div class="arrow"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-11 visible-xs">
                        <div class="reson-offset reson-offset-top reson-offset-left reson-offset-right col-reson-offset-top">
                            <div class="arrow-block">
                                <div class="arrow"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-xs-10 col-sm-12">
                                <div class="reson">
                                    <h3>Качество мнений</h3>
                                    <p>
                                        Взгляд опыта и результата на твой бизнес и задачи.
                                    </p>
                                </div>
                            </div>

                            <div class="col-xs-2 visible-xs">
                                <div class="reson-offset reson-offset-right reson-xs-right">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-11 col-sm-12">
                                <div class="reson-offset reson-offset-left visible-xs">
                                    <div class="arrow-block">
                                        <div class="arrow"></div>
                                    </div>
                                </div>
                                <div class="reson-offset reson-offset-left col-reson-offset-xs-right reson-arrow-top hidden-xs">
                                    <div class="arrow-block">
                                        <div class="arrow"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-1 visible-xs col-reson-offset-xs-right">
                                <div class="reson-offset reson-offset-right">
                                    <div class="arrow-block">
                                        <div class="arrow"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 hidden-xs">
                        <div class="reson-main-line-left reson-main-line-diag reson-main-line-diag-top"></div>
                        <div class="reson-main-line-right reson-main-line-diag reson-main-line-diag-top"></div>

                        <div class="reson reson-main">
                            <h3>Окружение:</h3>
                            <p>
                                Посчитай на раз-два-три
                            </p>
                            <div class="list">
                                <ol type="1">
                                    <li>
                                        5 человек, с кем ты проводишь больше всего времени (родственники, друзья, знакомые).
                                    </li>
                                    <li>Запиши их заработок.</li>
                                    <li>Раздели на 5. Вот твой доход.</li>
                                </ol>
                            </div>
                            <p>
                                То же самое с физическим состоянием и в отношениях.
                                Ты = среднее между теми, с кем ты общаешься.
                            </p>
                            <!--<img src="assets/img/reasonsResult/bankOfCucumbers.jpg" alt="банка огурцов" />-->
                        </div>

                        <div class="reson-main-line-left reson-main-line-diag reson-main-line-diag-bottom"></div>
                        <div class="reson-main-line-right reson-main-line-diag reson-main-line-diag-bottom"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-xs-10 col-sm-12">
                                <div class="reson">
                                    <h3>Количество людей</h3>
                                    <p>
                                        Только те, кто с таким же результатом и выше.
                                    </p>
                                </div>
                            </div>

                            <div class="col-xs-2 visible-xs">
                                <div class="reson-offset reson-offset-right reson-xs-right"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-11 col-sm-12">
                                <div class="reson-offset reson-offset-right">
                                    <div class="arrow-block">
                                        <div class="arrow"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-1 visible-xs col-reson-offset-xs-right">
                                <div class="reson-offset reson-offset-right">
                                    <div class="arrow-block">
                                        <div class="arrow"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-xs-10 col-sm-12">
                                <div class="reson">
                                    <h3>Качественно новые</h3>
                                    <p>
                                        Связи, знакомства, партнёрства, идеи, решения.
                                    </p>
                                </div>
                            </div>

                            <div class="col-xs-2 visible-xs">
                                <div class="reson-offset reson-offset-right reson-xs-right"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-xs-11 col-sm-12">
                                <div class="reson-offset reson-offset-left reson-main-line reson-main-line-bottom">
                                    <div class="arrow-block visible-xs">
                                        <div class="arrow"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-1 visible-xs col-reson-offset-xs-right">
                                <div class="reson-offset reson-offset-right">
                                    <div class="arrow-block">
                                        <div class="arrow"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-xs-10 col-sm-12">
                                <div class="reson">
                                    <h3>Качество мативации</h3>
                                    <p>
                                        Вдохновение результатами участников клуба.
                                    </p>
                                </div>
                            </div>

                            <div class="col-xs-2 visible-xs">
                                <div class="reson-offset reson-offset-right reson-xs-right"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-11 visible-xs">
                        <div class="reson-offset reson-offset-left">
                            <div class="arrow-block">
                                <div class="arrow"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-1 visible-xs col-reson-offset-xs-right">
                        <div class="reson-offset reson-offset-right">
                            <div class="arrow-block">
                                <div class="arrow"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 hidden-xs">
                        <div class="reson-offset reson-offset-bottom reson-offset-left col-reson-offset-xs-right reson-arrow-top">
                            <div class="arrow-block">
                                <div class="arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-xs-10 col-sm-12">
                                <div class="reson reson-bottom">
                                    <h3>Концентрация</h3>
                                    <ol type="1">
                                        <li>Заявляешь свои цели.</li>
                                        <li>Работаешь.</li>
                                        <li>Отписываешься перед участниками клуба</li>
                                        <li>Получаешь цели.</li>
                                    </ol>
                                </div>
                            </div>

                            <div class="col-xs-2 visible-xs">
                                <div class="reson-offset reson-offset-right reson-xs-right"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 hidden-xs">
                        <div class="reson-offset reson-offset-bottom reson-offset-right col-reson-offset-top reson-arrow-left">
                            <div class="arrow-block">
                                <div class="arrow"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-11 visible-xs col-reson-offset-bottom">
                        <div class="reson-offset reson-offset-bottom reson-offset-left reson-offset-right">
                            <div class="arrow-block">
                                <div class="arrow"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
