@charset "UTF-8";

#header {
    background-image: url('../img/header/bg_3.jpg');

    .container {
        position: relative;
    }

    .top {
        margin-top: 3.2em;
        overflow: hidden;

        .pull-left {
            /*text-align: center;*/

            .logo {
                font-size: 2em;

                p {
                }

                .fa {

                }
            }

            .desc {

                p {
                }
            }
        }

        .pull-right {
            /*text-align: center;*/

            p {

            }

            .desc {
                font-size: 1.02em;
            }

            .phone {
                font-size: 1.36em;
            }

            /*.btn {

                &.btn-main {
                    font-size: 0.9em;
                    text-transform: uppercase;
                }
            }*/
        }

        .smTxt {
            max-width: 250px;

            p {
                color: rgba(255,255,255, 0.6);
                font-size: 0.6em;
                line-height: 1em;
                margin: 0;
                padding: 0;
            }
        }
    }

    .header-content {
        margin: 9em auto 19em;

        h1 {
            @extend %font-PT_Serif;
            font-size: 3.428571429em;
            /*text-align: center;*/
        }
    }
}
